function Tank.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push this 0
push this 1
push constant 0
push this 2
call Bullet.new 4
pop this 3
push constant 27
pop this 4
push constant 9
pop this 5
push pointer 0
call Tank.draw 1
pop temp 0
push pointer 0
return
function Tank.draw 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 2
push constant 1
eq
push this 2
push constant 2
eq
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 1
push this 0
push this 5
add
push this 1
push this 4
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 5
add
push this 1
push this 5
add
push this 0
push constant 2
push this 5
call Math.multiply 2
add
push this 1
push constant 2
push this 5
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push constant 2
push this 5
call Math.multiply 2
add
push this 1
push this 0
push constant 3
push this 5
call Math.multiply 2
add
push this 1
push constant 3
push this 5
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
goto IF_END0
label IF_FALSE0
push this 0
push this 1
push this 0
push this 4
add
push this 1
push this 5
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 5
add
push this 1
push this 5
add
push this 0
push constant 2
push this 5
call Math.multiply 2
add
push this 1
push constant 2
push this 5
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push this 0
push this 1
push constant 2
push this 5
call Math.multiply 2
add
push this 0
push constant 3
push this 5
call Math.multiply 2
add
push this 1
push constant 3
push this 5
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
label IF_END0
push constant 0
return
function Tank.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push this 4
add
push this 1
push this 4
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Tank.getBullet 0
push argument 0
pop pointer 0
push this 3
return
function Tank.fireBullet 0
push argument 0
pop pointer 0
push this 3
push this 0
push this 4
push constant 2
call Math.divide 2
add
call Bullet.setRow 2
pop temp 0
push this 3
push this 1
push this 4
push constant 2
call Math.divide 2
add
call Bullet.setCol 2
pop temp 0
push this 3
push this 2
call Bullet.setDir 2
pop temp 0
push this 3
push constant 4
call Bullet.setSpeed 2
pop temp 0
push constant 0
return
function Tank.moveUp 0
push argument 0
pop pointer 0
push this 1
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Tank.erase 1
pop temp 0
push this 1
push constant 2
sub
pop this 1
push pointer 0
call Tank.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Tank.moveDown 0
push argument 0
pop pointer 0
push this 1
push this 4
add
push constant 254
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Tank.erase 1
pop temp 0
push this 1
push constant 2
add
pop this 1
push pointer 0
call Tank.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Tank.moveLeft 0
push argument 0
pop pointer 0
push this 0
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Tank.erase 1
pop temp 0
push this 0
push constant 2
sub
pop this 0
push pointer 0
call Tank.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Tank.moveRight 0
push argument 0
pop pointer 0
push this 0
push this 4
add
push constant 510
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Tank.erase 1
pop temp 0
push this 0
push constant 2
add
pop this 0
push pointer 0
call Tank.draw 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Tank.setDir 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Tank.getDir 0
push argument 0
pop pointer 0
push this 2
return
function Tank.getRow 0
push argument 0
pop pointer 0
push this 0
return
function Tank.getCol 0
push argument 0
pop pointer 0
push this 1
return
function Tank.getLength 0
push argument 0
pop pointer 0
push this 4
return
